.display-container {
  padding: 32px 0px;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 50%;
}

.chatbot-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carousel-container {
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
}

.hover-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw; /* Matches slide-viewer width */
  margin-bottom: 16px;
}

.slide-viewer {
  width: 100%; /* Takes the width of hover-container */
  height: 50vh;
  overflow: hidden;
}

.thumbnail-container {
  background-color: #efefef;
  padding: 6px 0px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  max-width: 50vw;
}

.thumbnail-container.collapsed {
  height: 0; 
  opacity: 0;
  overflow: hidden;
  margin-bottom: 0;

}

.thumbnail-container img {
  cursor: pointer;
  border: 1px solid gray;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.collapsed-hover-container:hover .centered-button {
  opacity: 1;
}

.centered-button {
  position: absolute; /* Position the button absolutely within the container */
  top: 15%;
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Adjust for the exact center */
  padding: 8px 20px;
  background-color: rgb(97, 97, 97); 
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10; 
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container {
  display: flex;
  width: 100%;
  gap: 16px;
  justify-content: space-between;
}

.audio-player {
  position: absolute;
  bottom: 10px;
  width: 95%;
  opacity: 0;
  transition: opacity 0.3s;
  height: 5vh;
}

.hover-container:hover .audio-player {
  opacity: 1; /* Show audio player on hover over the slide */
  cursor: pointer;
}

.transcript-container {
  flex: 1;
  overflow-x: auto; /* Allows horizontal scroll if content overflows */
  display: flex;
  margin-top: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
  padding: 20px;
  word-wrap: break-word; /* Ensure long words break and wrap */
  white-space: normal;  /* Allow text to wrap to the next line */
}

